@page "/"

@inject HomeViewModel ViewModel


<br/>
<SearchBarComponent></SearchBarComponent>
<br />
@if (ViewModel.FilteredJobs is null)
{
	<p>Loading...</p>
}
else if (ViewModel.FilteredJobs.Count == 0)
{
	<p>No jobs found</p>
}
else
{
<table class="table table-striped table-hover table-bordered" >
		<thead class="table-dark">
		<tr>
			<th>Name</th>
			<th>Loadin</th>
			<th>Loadout</th>
			<th>Customer</th>
			<th>Location</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var job in ViewModel.FilteredJobs)
		{
			<tr>
				<td>@job.Name</td>
				<td>@job.Loadin.ToShortDateString()</td>
				<td>@job.Loadout.ToShortDateString()</td>
				<td>@job.Customer.Name</td>
				<td>@job.Location.Name</td>
				<td><button class="btn btn-primary">Bewerk</button></td>
			</tr>
		}
	</tbody>
</table>
}

@code {
	protected override async Task OnInitializedAsync()
	{ 
		await ViewModel.LoadJobsAsync();
		
	}
}
