@page "/"

<h1>Home</h1>

@* <FluentStack Orientation="Orientation.Horizontal">
    <FluentSearch Placeholder="Search jobs" @bind-Value="SearchText" @bind-Value:after="FilterJobs" Immediate="true" />
</FluentStack>
@if (FilteredJobs is null)
{
    <p><em>Loading...</em></p>
}

else if (!FilteredJobs.Any())
{
    <p><em>No jobs found</em></p>
}
else
{
    <FluentDataGrid Items="@FilteredJobs" RowSize="DataGridRowSize.Medium">
        <PropertyColumn Property="@(j => j.Name)"Sortable="true" Width="50%"/>
        <PropertyColumn Property="@(j => j.Loadin)" Format="dd-MM" Sortable="true" Width="1fr" IsDefaultSortColumn="true" />
        <PropertyColumn Property="@(j => j.Loadout)" Format="dd-MM" Sortable="true" Width="1fr" />
        <PropertyColumn Property="@(j => j.Customer.Name)" Title="Customer" Sortable="true" Width="1fr" />
        <PropertyColumn Property="@(j => j.Venue.Name)" Title="Venue" Sortable="true" Width="1fr" />
        <TemplateColumn Width="1fr" Context="Job">
            <FluentButton IconStart="new Icons.Regular.Size20.Edit()" Appearance="Appearance.Accent" @onclick="() => EditJob(Job.Id)"/>
            <FluentButton IconStart="new Icons.Regular.Size20.Delete()" Appearance="Appearance.Accent" @onclick="() => DeleteJob(Job.Id)"/>
            <FluentButton IconStart="new Icons.Regular.Size20.Print()" Appearance="Appearance.Accent"/>
        </TemplateColumn>

    </FluentDataGrid>
} *@
